 .App {
  text-align: center;

}

header {
  color: #1c3151;
}
.form {
    /*border: 3px solid #33BC87;*/
    text-align: left;
    line-height: 1.7;
    height: auto;
    overflow: auto;
    margin: 1%;
    padding: 1%;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: white;
}


.form:hover {
  -webkit-box-shadow:0 1px 4px rgba(28, 49, 81, 0.7), 0 0 70px rgba(0, 0, 0, 0.1);
     -moz-box-shadow:0 1px 4px rgba(28, 49, 81, 0.7), 0 0 70px rgba(0, 0, 0, 0.1);
          box-shadow:0 1px 4px rgba(28, 49, 81, 0.7), 0 0 70px rgba(0, 0, 0, 0.1);
}


form input, form select, {
    /* width: 100%; */
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type=submit] {
    /* width: 100%; */
    background-color: #73757a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: #1c3151;
}

button {
  color: white;
  background-color: #73757a;
}

button:hover {
  background-color: #1c3151;
}

/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

header {
    text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1c3151;
}

nav li, nav li a {
  display: block;
  float: left;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

nav li:hover {
  background-color: #73757a;
}
